<div class="container">
    <a href="/client/creator" class="waves-effect waves-light light-green btn"><i class="material-icons right">add</i>add client</a>
    <table class="highlight responsibe-table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Edad</th>
                <th>Género</th>
                <th>Email</th>
                <th>Teléfono</th>
                <th>Editar</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let c of clientListData">
                <td>{{c.name}}</td>
                <td>{{c.age}}</td>
                <td>{{c.gender}}</td>
                <td>{{c.email}}</td>
                <td>{{c.phone}}</td>
                <td><a href="client/editor/{{c.id}}" class="btn-floating waves-effect waves-light light-blue btn-small"><i class="material-icons">edit</i></a></td>
            </tr>
        </tbody>
    </table>
</div>