<script type="text/javascript">
    $(document).ready(function () {
        $('select').formSelect();
    });
</script>

<div class="container col">
    <div class="card-panel amber-text text-darken-2">
        <blockquote>
            <h4 class="header2 valign-wrapper">Form with validation</h4>
        </blockquote>
        <div class="row">
            <form class="center-align col s12">
                <div class="row">
                    <!--<div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>
                        <i class="mdi-action-account-circle prefix"></i>
                        <input id="name4" type="text" class="validate">
                        <label for="first_name">Nombre Completo</label>
                    </div>-->
                    <div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="icon_prefix" type="text" class="validate">
                        <label for="icon_prefix">Nombre Completo</label>
                    </div>
                </div>
                <div class="row">
                    <!--<div class="input-field col s12">
                        <i class="material-icons prefix">email</i>
                        <input id="email4" type="email" class="validate">
                        <label for="email">Email</label>
                    </div>-->
                    <div class="input-field col s12">
                        <i class="material-icons prefix">email</i>
                        <input id="email4" type="email" class="validate">
                        <label for="email4">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">phone</i>
                        <input id="icon_telephone" type="tel" class="validate">
                        <label for="icon_telephone">Teléfono</label>
                    </div>
                    <div class="input-field col s16">
                        <select>
                            <option value="">Opcion1</option>
                        </select>
                        <label>Materialize Seect</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">message</i>
                        <textarea id="message4" class="materialize-textarea validate" length="120"></textarea>
                        <label for="message">Message</label>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <button class="btn cyan waves-effect waves-light right" type="submit" name="action">Submit
                                <i class="mdi-content-send right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>