<body>
    <div class="homeElement">
        PRODUCTOS
        con filtros de alquiler/compra
    </div>
    <div class="homeElement bienvenido white-text ">
        <div class="container">
            <h4 class="h4inner">  BIENVENIDO A HOGAR COLOMBIA  </h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat.</p>
            <br>
        </div>
    </div>
    <div class="homeElement">
        <div class="container amber-text text-darken-4">
            <h4 class="h4inner">  MISIÓN  </h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>
        </div>
    </div>
    <div class="homeElement vision card-panel ">
        <div class="container">
            <h4 class="h4inner">  VISIÓN  </h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>
        </div>
    </div>
    <div class="homeElement">
        <div class="container light-blue-text text-darken-3">
            <h4 class="h4inner">  CONTÁCTANOS  </h4>
            <p>Construye un futuro con nosotros</p>
            <br>
            <br>
            <a href="/contact-form" class="waves-effect waves-light btn-large light-blue"><i class="material-icons left">business</i>Contacto</a>
        </div>
    </div>
</body>