<div class="row">
    <div class="col s2">
        <div class="card medium">
            <div class="card-content">
                <p class="flow-text truncate">This isn't really a long title</p>
                <p>And it's just .truncate'ed but doesn't have the .scrolling class applied.</p>
            </div>
        </div>
    </div>
</div>

<div class="Cointainrr card right">
    <p class="truncate scrolling">This isn't really a long title</p>
    <p>And it's just .truncate'ed but doesn't have the .scrolling class applied.</p>
</div>

<div class="container">
    <h5>.container</h5>
    <div class="row">
        <div class="col s4">
            <div class="card medium">
                <div class="card-content">
                    <p class="flow-text truncate">This isn't really a long title</p>
                    <p>And it's just .truncate'ed but doesn't have the .scrolling class applied.</p>
                </div>
            </div>
        </div>

        <div class="col s4">
            <div class="card medium">
                <div class="card-image">
                    <img src="http://placehold.it/640x240">
                </div>
                <div class="card-content">
                    <p class="flow-text truncate scrolling">This is a fairly long .flow-text title in Materialize
                        framework.</p>
                    <p>It's has both .truncate and .scrolling classes applied.</p>
                </div>
            </div>
        </div>

        <div class="col s4">
            <div class="card medium">
                <div class="card-image">
                    <img src="http://placehold.it/640x240">
                </div>
                <div class="card-content">
                    <p class="flow-text truncate scrolling">A super long .flow-text title in materialize framework card
                        is significantly larger that what is shown even with .scrolling class applied. </p>
                    <p>It's has both .truncate and .scrolling classes applied but is so long it's never fully revealed.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h5>Again. But not in a .container</h5>
</div>

<div class="row">

    <div class="col s4">
        <div class="card medium">
            <div class="card-image">
                <img src="http://placehold.it/640x240">
            </div>
            <div class="card-content">
                <p class="flow-text truncate">This isn't really a long title</p>
                <p>And it's just .truncate'ed but doesn't have the .scrolling class applied.</p>
            </div>
        </div>
    </div>

    <div class="col s4">
        <div class="card medium">
            <div class="card-image">
                <img src="http://placehold.it/640x240">
            </div>
            <div class="card-content">
                <p class="flow-text truncate scrolling">This is a fairly long .flow-text title in Materialize framework.
                </p>
                <p>It's has both .truncate and .scrolling classes applied.</p>
            </div>
        </div>
    </div>

    <div class="col s4">
        <div class="card medium">
            <div class="card-image">
                <img src="http://placehold.it/640x240">
            </div>
            <div class="card-content">
                <p class="flow-text truncate scrolling">A super long .flow-text title in materialize framework card is
                    significantly larger that what is shown even with .scrolling class applied. </p>
                <p>It's has both .truncate and .scrolling classes applied but is so long it's never fully revealed.</p>
            </div>
        </div>
    </div>
</div>