/* You can add global styles to this file, and also import other style files */
.brandLogo{
    padding: 5px 5px 0px 10px;
}

.linksIcons{
    color: white;
    padding: 8px;
}

.linksIcons:hover{
    background-color: #b86729;
    border-radius: 5em;
    padding: 8px;
    transition-duration: 0.4s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

blockquote {
    border-left: 5px solid #b86729 !important;
}